.mid_button {
	background-color:#0ac946;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #06822d;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;
/*center*/
	margin-left: 40%
	margin-right: 40%
	width: 20%;
	margin-top: 5%;
/*disable text selection*/
	user-select: none;
}
.mid_button:hover {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#0ac946');
	background-color:#017c26;
}.mid_button:active {
	position:relative;
	top:1px;
}
